<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About - SEO Keyword Clusters App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<!-- <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"> -->
	<link href="../static/css/style.css" rel="stylesheet">
	<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	
</head>
<body>
<!-- Navigation -->
<!-- <div id="map"></div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="google-data-studio-dashboard" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Visualisations
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				  <a class="dropdown-item" href="google-data-studio-dashboard">GDS Dashboard</a>
				  <a class="dropdown-item" href="tableau-dashboard">Tableau Dashboard</a>
				</div>
			</li>
		  <li class="nav-item">
			  <a class="nav-link" href="about">About</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="contact">Contact</a>
			</li>
		</ul>
	  </div>
	</nav>

<!--- Body -->
<!--- Welcome Section -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">About</h1>
			<br>
			<hr class="my-4">
		</div>
		<div class="col-12">
			<h2 class="display-10">Digital Marketing and Data Science: a world of opportunities</h2>
			<br>
			<br>
			<p>Coming from a business and digital marketing background, I'm naturally trying to apply my data science skills to it.</p>
			<p>Whether it is about SEO, SEM or Social Media, data science can help in our daily tasks. Everything is getting more and more automated and we can focus on the essential.</p>
			<p>It is now going even further with Machine Learning techniques, which can be use for plently of different purposes.
				We are here focusing on autogenerating clusters of keywords to simplify our SEO analyses. Indeed, websites can have hundreds or thousands of queries and it becomes interesting to classify them into different groups.
			</p>
			<br>
			<p>For example, we can choose keywords from the best performing clusters when building new pages so it will have a better chance to attract visitors. 
				Furthermore, we can also look at the less performing clusters and try to understand why they perform less and try some changes.</p>
			<br>
			<hr class="my-4">
			<br>

			<p class="lead">Below are the tools used for this project.</p>
			<p>Files and more technical informations on <a href="https://github.com/jfaccioli/final-project">GitHub</a>.</p>
		</div>
	</div>
</div>

<!--- Three Column Section -->
<div class="container-fluid padding" id="logos_about">
	<div class="row text-center padding" id="grid">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fas fa-code"></i>
			<h3>HTML</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fab fa-css3-alt"></i>
			<h3>CSS</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fab fa-python"></i>
			<h3>PYTHON</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fab fa-bootstrap"></i>
			<h3>BOOTSTRAP</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fab fa-js"></i>
			<h3>JAVASCRIPT</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fas fa-drafting-compass"></i>
			<h3>FLASK</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<i class="fab fa-google"></i>
			<h3>GOOGLE DATA STUDIO</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<i class="fas fa-table"></i>
			<h3>TABLEAU</h3>
		</div>
	</div>
</div>



<!--- Footer -->
<footer class="page-footer font-small blue">

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">SEO Keyword Clusters</div>
	<!-- Copyright -->
  
  </footer>

  <!-- Javascript libraries  -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  <!-- JS -->
  <script type="text/javascript" src="../static/js/plots.js"></script>

   <script
  src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
  data-auto-a11y="true"
></script>
  <!-- <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> -->


</body>
</html>








