<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Google Data Studio Dashboard - SEO Keyword Clusters App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<!-- <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"> -->
	<!-- <link href="../static/style.css" rel="stylesheet"> -->
	<link href="static/css/style.css" rel="stylesheet">
	<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
	  <ul class="navbar-nav">
		  <li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="google-data-studio-dashboard" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Visualisations
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="google-data-studio">GDS Dashboard</a>
				<a class="dropdown-item" href="tableau-dashboard">Tableau Dashboard</a>
			  </div>
		  </li>
		<li class="nav-item">
			<a class="nav-link" href="about">About</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="contact">Contact</a>
		  </li>
	  </ul>
	</div>
  </nav>

<!--- Body -->
	
		<!-- Google Data Studio -->
		<div class="google-data-studio">

			<iframe width="100%" height="772" src="https://datastudio.google.com/embed/reporting/709419df-7951-4f77-bff3-216edb48eb27/page/RtWYC" frameborder="0" style="border:0" allowfullscreen></iframe>
			<!-- <script type="text/javascript" src="../static/js/chartjs.js"></script> -->
			
		</div>
	
	<hr class="my-4">


<!--- Footer -->
<footer class="page-footer font-small blue">

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">SEO Keyword Clusters</div>
	<!-- Copyright -->
  
  </footer>

  <!-- Javascript libraries  -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  <!-- JS -->
  <script type="text/javascript" src="../static/js/plots.js"></script>

   <script
  src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
  data-auto-a11y="true"
></script>
  <!-- <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> -->


</body>
</html>








